<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css" type="text/css">
    <link rel="stylesheet" href="index-style.css" type="text/css">
    <title>Chat - <%= pag.title %></title>
  </head>
  <body>
    <h1>
      <%= pag.title %>
    </h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/cadastrar">Cadastrar</a> </li>
        <li><a href="/chat">Chat</a> </li>
      </ul>
    </nav>