
<%- include('partials/header', pag); %>
    <main>
      <form method="post" action="/cadastrar">
        Nickname: <input type="text" name="regsNickname" autofocus><br>
        Password: <input type="password" name="regsPassword"><br>
        RE-password: <input type="password" name="confirmPassword"><br>
        <button type="submit" name="registrar" value="Submit">Submit </button>
      </form>
    </main>
  </bodY>

  <script>
  </script>

</head>