<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="chat-style.css" rel="stylesheet" type="text/css">

    <title>My websocket chat</title>
  </head>

  <!-- STYLE -->
  
  <!-- BODY -->
  <body>
    <h2>chat - <%= username %></h2>
    <div id="chat">

      <ul id="messages"></ul>
      
      <form action="" name="message">
        <input id="m" autocomplete="off" />
        <button class="send">Send</button>
      </form>

    </div>
      <button id="logout">Logout</button>

    <ul id="users">
    </ul>

    <!-- SCRIPTS -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="chatJavascript.js" type="text/javascript"></script>
  </body>
</html>