
<%- include('partials/header', pag); %>
    <main>
      <p>
        Código fonte disponível no meu <a href="http://github.com/pedr/webchat/">github</a>.
      </p>
      <br>
      <p>
        Esse chat foi construído para melhorar meus conhecimentos das tecnologias web, 
        por tanto algumas medidas de seguranças foram ignoradas, por exemplo, 
        para criar uma conta são apenas necessários 4 letras para o nome do usuário 
        e para senha, e não há restrição pro número de contas que algum endereço 
        pode acessar (se você criar mais de uma conta pode entrar com mais de uma). 
      </p>
      <br>
      <p>
        Para enviar mensagem privada use o formato: 
      </p>
      <code> @nickname mensagem </code>
    </main>
  </body>
</html>