
<%- include('partials/header', pag); %>
    <main>
      <form method="post" action="/login">
        Nickname:<br>
        <input type="text" name="nickname" autofocus><br>
        Password:<br>
        <input type="password" name="password"><br>
        <button type="submit" value="Submit"> Submit</button>
      </form>
    </main>
  </bodY>
  

  <script>
  </script>

</head>